<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518039429797-j7uplmn3gdpvdmje6n0l42f7449d46jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518039429797-j7uplmn3gdpvdmje6n0l42f7449d46jb</string>
	<key>API_KEY</key>
	<string>AIzaSyD028BhzA6DloWvH34i-QyCqYj7dEzsNlY</string>
	<key>GCM_SENDER_ID</key>
	<string>518039429797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medianagames.findscapes</string>
	<key>PROJECT_ID</key>
	<string>testproject-184c0</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-184c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518039429797:ios:8385ac3ca85625decd634c</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-184c0.firebaseio.com</string>
</dict>
</plist>